<system>
	<service>
		<appid>ubuntu32@ccdbsvr@1</appid>
		<count>1</count>
	</service>
	<config>
		<param>
			<module>
				<id>001</id>
				<port>4500</port>
				<updateinfohour>1</updateinfohour>
				<mqcount>2</mqcount>
			</module>
			<db>
				<type>0</type>
				<source>localhost</source>
				<port>3306</port>
				<mode>tcp</mode>
				<name>siccdb</name>
				<username>root</username>
				<password>123</password>
				<timeout>1000000</timeout>
				<spfile>sp.xml</spfile>
				<wsfile>ws.xml</wsfile>
			</db>
			<threadpool>
				<count>1</count>
				<timeout>10000</timeout>
			</threadpool>
			<rabbitmq>
				<host>127.0.0.1</host>
				<port>5671</port>
				<username>guest</username>
				<password>guest</password>
				<vhost>/</vhost>
				<maxframe>131072</maxframe>
				<queuenameprefix>mod-</queuenameprefix>
			</rabbitmq>
			<pipe>
				<nameprefix>fifo-</nameprefix>
				<mode>w+</mode>
			</pipe>
		</param>
	</config>


</system>
